aiofiles==23.2.1
alembic==1.13.1
celery==5.3.0
Faker==30.3.0
fastapi==0.115.11
pandas==2.2.3
passlib==1.7.4
pillow==10.3.0
pydantic==2.9.2
SQLAlchemy==2.0.27
python-jose~=3.5.0
pydantic-settings~=2.8.1
uvicorn
asyncpg
pydantic[email]
python-multipart

